---
interface Props {
  title: string;
  description: string;
  link?: string;
}

const { title, description } = Astro.props;
---

<a href="#">
  <section>
    <h3>{title}</h3>
    <p>{description}</p>
  </section>
</a>
