---
import { getEntry } from "astro:content";
import Layout from "../layouts/Layout.astro";

export function getStaticPaths() {
  return [
    { params: { ProjectName: "hygie-epiox-mobile" } },
    { params: { ProjectName: "hygie" } },
    { params: { ProjectName: "playground" } },
  ];
}

const { ProjectName } = Astro.params;

const HEMData = await getEntry("projects", ProjectName);

if (!HEMData) {
  return Astro.redirect("/");
}

const { title, subTitle } = HEMData["data"];
---

<Layout
  title={`${title} - Ruben Letist - Digital Creative`}
  description="Cas d'étude de la création d'une application mobile pour Hygie, une société de développement de logiciel de facturation infirmier"
>
  <header>
    <h1>{title}</h1>
  </header>
  <main>
    <p>{subTitle}</p>
  </main>
</Layout>
