---
import "./layout.css";
import { Image } from "astro:assets";
import Navigation from "@/comp/Navigation/Navigation.astro";
import Footer from "@/comp/Footer/Footer.astro";
interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content={description}
    />
    <meta
      name="viewport"
      content="width=device-width"
    />
    <link
      rel="icon"
      type="image/svg+xml"
      href="/favicon.svg"
    />
    <meta
      name="generator"
      content={Astro.generator}
    />
    <link
      rel="stylesheet"
      href="https://use.typekit.net/bru3olk.css"
    />
    <title>{title}</title>
  </head>
  <body>
    <Image
      class="background"
      alt="background graphic assets perlin noise"
      src="/backgroundPerlin.png"
      width={1920}
      height={1080}
    />
    <Navigation />
    <slot />
    <Footer />
  </body>
</html>
